
.numbers_container{
    
    display: flex;
    top: 10vh;
    flex-flow: row wrap;
    justify-content: space-around; 
    background-color: red;
    /*width: 50vh;*/
}

.calculator{
    top: 10vh;
    text-align: center;
    align-items: center;
    padding: 2%;
    position: absolute;
}