
.numbers_container{
    
    display: flex;
    top: 10vh;
    flex-flow: row wrap;
    justify-content: space-around; 
    background-color: red;
    /*width: 50vh;*/
}

.calculator{
    text-align: center;
    align-items: center;
    position: absolute;
    padding: 5px;
    font-size: 50px;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color:darkcyan;
    
    border-radius: 15px;
}

.button{
    width: 40px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    background-color:rgb(223, 219, 213);
}

.button:hover{
    background-color: wheat;
}

.result_container{
    background-color: aliceblue;
    display: flex;
    border-radius: 15px;
    width: 170px;
    height: 60px;
}