*{
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}


.hdr{
    background: white;
    color: white;
    top: 0%;
    position: fixed;
    width: 100%;
    height: 10vh;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: xx-large;
    opacity: 0.7;
}

.nav{
    display: flex;
}

.hdr a {

    padding: 20px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    cursor: pointer;
}


.hdr a:hover{
	color: black;
	font-weight: bold;
}
.nav a:hover {
	color: black;
	font-weight: bold;
}



.image_background{
    width: 100%;
    top: 0px;

}



.my_container{
    top: 10vh;
    flex-flow: row wrap;
    justify-content: space-around; 
}


.circle{
    width: 200px;
    height: 200px;
    background: #888;
    border-radius: 100px;
    overflow: hidden;
    position: absolute;
    top: 100px;
    right: 200px;
}

.circle img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.text_over_banner{
    position: absolute;
    top: 340px;
    right: 160px;
    color: lightskyblue;
    font-size: 30px;
    
}


.name{
    position: absolute;
    top: 300px;
    right:  210px;
    color: lightskyblue;
    font-size: 30px;
    
}